@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  font-size: 16px;
}

h1 {
  display: none;
}

body {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  background-color: #FFFFFF;
  z-index: 10;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.inner__wrapper {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 33px;
  margin: 0 auto;
}

.logo {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -5px;
}

.logo__title a {
  z-index: 50;
  font-family: Georgia;
  color: #545454;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  z-index: 50;
  margin: 10px;
  color: #292929;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.13em;
  text-align: center;
}

.menu {
  display: flex;
}

.list__item {
  display: flex;
  align-items: center;
}

.visible__list {
  justify-content: space-between;
  width: 100%;
  display: flex;
  list-style-type: none;
}

.list__link {
  text-decoration: none;
  color: #545454;
  font-family: arial;
  font-size: 0.9375rem;
  line-height: 160%;
}

.list__link__active, .list__link:active {
  border-bottom: solid 3px #F1CDB3;
  color: #545454;
}

.list__link:hover {
  color: #292929;
}

main {
  background-color: #F6F6F6;
}

.outer__container {
  min-height: 1280px;
}

.header__container {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 2.1875rem;
  line-height: 130%;
  color: #545454;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}
.header__container h2 {
  text-align: center;
}

.outer__container {
  margin: 0 auto;
}

.inner__container {
  max-width: 75rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem;
  max-width: 77.5rem;
  position: relative;
}

.slider__container {
  height: 960px;
  overflow: hidden;
}

.pets {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

#left__left:hover, #left__arrow:hover, #right__arrow:hover, #right__right:hover {
  background-color: #F1CDB3;
  opacity: 0.6;
  border-radius: 26px;
}

#currentPage {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 245%;
  text-align: center;
}

.slide {
  border-radius: 10px;
  background: #FAFAFA;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

.slider {
  width: 100%;
  height: 930px;
  overflow: hidden;
  position: absolute;
  top: 334px;
  left: 0px;
}

.name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 1.25rem;
  line-height: 115%;
  color: #545454;
}

.learn_more {
  padding: 0.875rem, 2.75rem;
  margin-bottom: 1.8125rem;
  border-radius: 6.25rem;
  width: 70.3%;
  height: 3.25rem;
  border: 2px solid #FDDCC4;
  background-color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.page__numbers {
  margin: 0 auto;
  padding-bottom: 6.2rem;
}

.numeration {
  width: 21.25rem;
}

.current__page:hover {
  opacity: 0.7;
}

.left__arrow:hover, .double__left_arrow:hover {
  border-radius: 52px;
  background-color: #FDDCC4;
}

.paginator_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.learn_more:hover {
  background-color: #FDDCC4;
}

footer {
  background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.inner__footer {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contacts {
  width: 294px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contacts__top {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 2.1875rem;
  line-height: 130%;
  color: #FFFFFF;
}
.contacts__top h3 {
  text-align: initial;
}

.adress__top {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 2.1875rem;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.adress__top h3 {
  text-align: initial;
}

.contacts__mid {
  display: flex;
  padding-top: 2.8rem;
}

.email__text, .adress__text {
  margin-left: 1.2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 1.25rem;
  line-height: 115%;
  color: #F1CDB3;
}
.email__text a, .adress__text a {
  color: #F1CDB3;
}

.contacts__bottom {
  display: flex;
  padding-top: 2.7rem;
}

.phone__text, .town__text {
  padding-top: 0.3rem;
  margin-left: 1.2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-size: 1.25rem;
  line-height: 115%;
  color: #F1CDB3;
}
.phone__text a, .town__text a {
  color: #F1CDB3;
}

.adress {
  width: 294px;
  justify-content: center;
  margin-left: -1.2rem;
  display: flex;
  flex-direction: column;
}

.adress__mid, .adress__bottom {
  display: flex;
  padding-top: 2rem;
}

.footer__image {
  margin-top: 2.5rem;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding-left: calc(0.04 * 100%);
    padding-right: calc(0.04 * 100%);
  }

  .inner__footer {
    margin-left: calc((100vw - 880px)/400*40);
    margin-right: calc((100vw - 880px)/400*40);
  }
}
@media screen and (max-width: 1240px) {
  .pets {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1140px) {
  .slide {
    margin: 15px 5px;
  }
}
@media screen and (max-width: 839px) {
  .slider {
    top: 304px;
    height: 1395px;
  }

  .slider__container {
    height: 1395px;
  }

  .page__numbers {
    padding-top: 0.6rem;
  }
}
@media screen and (max-width: 920px) {
  .inner__footer {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .inner__footer {
    margin-left: 0px;
    margin-right: 0px;
  }

  .wrapper {
    max-width: 48rem;
  }

  .inner__wrapper {
    max-width: 44.3rem;
  }

  .header__container {
    padding-top: 5rem;
    padding-bottom: 1.9rem;
  }

  .inner__footer {
    justify-content: space-evenly;
    padding-top: 1.9rem;
    max-width: 48rem;
    flex-wrap: wrap;
  }

  .contacts {
    margin-left: -9px;
    justify-content: end;
  }

  .contacts__mid {
    padding-top: 2.5rem;
  }

  .adress {
    margin-left: -1.5rem;
  }

  .footer__image {
    margin-top: 4rem;
  }

  .adress__top, .contacts__top {
    font-size: calc(25px + (100vw - 320px)/380*10);
    max-width: 294px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 720px) {
  .logo__burger {
    display: none;
  }

  .visible__list {
    justify-content: space-between;
    width: 100%;
    display: flex;
    list-style-type: none;
    visibility: visible;
  }

  .list {
    visibility: visible;
  }

  #menu__toggle {
    display: none;
  }

  .hamburger__menu {
    align-items: center;
    display: flex;
    width: 27.6875rem;
  }

  .menu__btn img {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  .logo__burger {
    position: absolute;
    top: 31px;
    left: 5px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    position: absolute;
    right: 50px;
    top: 49px;
    width: 30px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
  }

  .darked {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    transition-duration: 0.25s;
  }

  .list {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding-top: 231px;
    list-style: none;
    text-align: center;
    background-color: #CDCDCD;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .list li a {
    font-size: 32px;
    font-weight: 400;
    color: #292929;
  }
  .list li a:hover {
    color: #FAFAFA;
  }

  /* элементы меню */
  .list__item {
    display: block;
    padding: 20px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .list {
    transition-duration: 0.25s;
  }

  .list__item {
    transition-duration: 0.25s;
  }
}
@media screen and (max-width: 600px) {
  .slider__container {
    grid-template-columns: 270px;
    grid-template-areas: "aa" "ab" "ac";
  }

  .ba {
    display: none;
  }

  .ad {
    display: none;
  }

  .bb {
    display: none;
  }

  .bc {
    display: none;
  }

  .bd {
    display: none;
  }

  .contacts__top h3, .adress__top h3 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .slider {
    top: 251px;
  }

  .page__numbers {
    padding-top: 0.7rem;
  }

  .header__container {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .inner__wrapper {
    max-width: 20rem;
    flex-direction: column;
    padding-top: 31px;
  }

  .wrapper {
    position: relative;
    max-width: 20rem;
    padding-left: 0.6rem;
  }

  h2 {
    font-size: 25px;
  }

  .header__container {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 25px;
  }

  .numeration {
    width: 18.75rem;
  }

  .page__numbers {
    padding-top: 0.7rem;
    padding-bottom: 2.6rem;
  }

  .contacts {
    margin-left: 0;
    justify-content: end;
  }

  .contacts__top h3 {
    text-align: center;
  }

  .contacts__top {
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.06em;
  }

  .contacts__mid {
    padding-top: 2.7rem;
  }

  .contacts__bottom, .contacts__mid, .adress__mid {
    justify-content: center;
  }

  .adress__top h3 {
    letter-spacing: 0.06em;
    text-align: center;
  }

  .adress__top {
    text-align: center;
    padding-top: 39px;
    margin-left: 0.5rem;
    font-size: 25px;
    max-width: 282px;
  }

  .adress__mid {
    padding-top: 2.6rem;
  }

  .adress__bottom {
    padding-top: 2.4rem;
  }

  .adress {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .footer__image {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .footer__image img {
    width: 87%;
  }

  .inner__footer {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*# sourceMappingURL=pets.css.map */