* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
}

.add-todo {
    display: flex;
    justify-content: center;   
    padding-top: 70px; 
}

.todo-table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
}

.todo-list {
    width: 40vw;
    margin: 0 auto;
    padding-top: 30px;
}

tr:nth-child(odd) {
    background-color: #bfe1f5d5;
}

tr:nth-child(even) {
    background-color: #f1f1e691;
}

td {
    text-align: center;
}

th {
    height: 50px;
    background-color: #67aae9;
}

tr {
    height: 40px;
}

tr:first-child {
    text-align: center;
}

#filterByStatus {
    background-color: #bfe1f5d5 ;
}

.selected{
    text-decoration: line-through;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: 0 auto;
    padding-top: 15px;
}

input[type=button] {
    background: rgba(250, 238, 78, 0.575);
    padding: 0px 20px 0px 20px;
    height: 20px;
}

#add-item {
    background: rgba(173, 173, 170, 0.376);
}

#text:hover {
    cursor: pointer;
}

.editable {
    text-align:center;
    background-color: rgba(136, 136, 248, 0.445);
    width:100%
}

input[type=checkbox] {
    vertical-align: -webkit-baseline-middle;
}

input[type=button]:hover, #filter:hover, th#date:hover {
    cursor: pointer;
    background-color: rgb(245, 227, 69);
}

input[type=checkbox]:hover {
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .todo-list {
        width: 60vw;
    }
  }

@media only screen and (max-width: 700px) {
    .todo-list {
        width: 80vw;
    }
  }