{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb/base",
        "eslint:recommended"
    ],

    "rules": {
        "import/prefer-default-export": "off",
        "no-useless-return": ["error",{"props": false}],
        "no-param-reassign": ["error",{"props": false}],
        "class-methods-use-this": ["error", { "exceptMethods":[
            "setData",
            "getStatus",
            "getTodos",
            "renderQuantity",
            "resetCheckbox",
            "removeTodos",
            "getId",
            "validateEnteredText",
            "createInput", 
            "renderTodos"]
             }
            ],
        "import/extensions": [ 0 ],
        "no-console": "off"
    
    }
}