*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #9bd5f1, #96f6be);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas:
  "output output output output"
  "modify-buttons modify-buttons modify-buttons modify-buttons"
  "number-buttons number-buttons number-buttons compute-buttons"
  "number-buttons number-buttons number-buttons compute-buttons"
  "number-buttons number-buttons number-buttons compute-buttons"
  "number-buttons number-buttons  number-buttons compute-buttons"
}

.number-buttons {
  display: grid;
  grid-area: number-buttons;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.compute-buttons {
  display: grid;
  grid-area: compute-buttons;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.modify-buttons {
  display: grid;
  grid-area: modify-buttons;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(233, 250, 3);
}

.zero-button {
  width: 300%
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calc-display-input {
  width: 360px;
  height: 40px;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  text-align: right;
  font-size: 35px;
  padding: 0px 20px;
  border: 0
}

.calc-display-output {
  width: 360px;
  height: 20px;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  text-align: right;
  font-size: 18px;
  padding: 0px 20px;
  border: 0
}

@media (max-width: 600px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: minmax(10%, auto) repeat(5, 7%);
  }

  .calc-display-output {
    width: 100%;
  }

  .calc-display-input {
    width: 100%;
  }
 }